
ray==2.54.0
ray[train]==2.54.0

# dependencies needed for axolotl
# we specify these without versions or with minimums to avoid 
# conflicting with the pre-installed optimized versions

# --- debugging ---
py-spy==0.4.2

# --- core frameworks ---
#deepspeed==0.17.1
deepspeed
accelerate==1.13.0
transformers==5.5.0
peft==0.18.1

# --- data Processing & tokenization ---
datasets==4.8.4
tokenizers==0.22.2
sentencepiece==0.2.1
pyarrow==23.0.1

# --- axolotl CLI & telemetry ---
colorama==0.4.6
distro==1.9.0
posthog==7.9.12
hf_transfer==0.1.9
lion-pytorch==0.2.4
#huggingface_hub==1.9.0
huggingface_hub>=1.10.0

# --- supporting utilities ---
addict==2.4.0
fastcore==1.12.34
click==8.3.2
python-dotenv==1.2.2
requests==2.33.1
pydantic==2.12.5
fsspec==2026.2.0
fire==0.7.1
pyyaml==6.0.3
psutil==7.2.2
tqdm==4.67.3
numba==0.65.0
numba-hip==0.0.2

# --- scientific & GPU stack ---
scipy==1.17.1
#pandas<3.0.0
pandas==3.0.3
scikit-learn==1.8.0
pynvml==13.0.1
einops==0.8.2

# --- metrics & logging ---
nltk==3.9.4
rouge_score==0.1.2
tensorboard==2.20.0
tensorboardX==2.6.5

#mamba-ssm==1.2.0.post1
#xformers>=0.0.23.post1
liger-kernel==0.7.0
packaging==26.2
kernels==0.12.2

trl==0.29.0
hf_xet==1.4.3

fla-core==0.4.1
flash-linear-attention==0.4.1

trackio>=0.16.1
typing-extensions>=4.15.0

optimum==1.16.2
gradio>=6.10.0,<7.0

modal==1.3.0.post1
PyYAML>=6.0
requests==2.33.1
wandb==0.25.1
#numpy==2.4.6
numpy>=2.2.6,<2.4

evaluate==0.4.1
art==6.5

s3fs>=2024.5.0
gcsfs>=2025.3.0
adlfs>=2024.5.0
ocifs==1.3.2

#zstandard==0.22.0

setuptools==82.0.1
pillow==12.2.0

# lm eval harness
lm_eval==0.4.7
langdetect==1.0.9
immutabledict==4.2.0
antlr4-python3-runtime==4.13.2

openenv-core==0.1.0
schedulefree==1.4.1

axolotl-contribs-lgpl==0.0.7
axolotl-contribs-mit==0.0.6

#mistral-common==1.10.0
mistral-common==1.11.2



